/*-----------------------------------COLORS--------------------------------------------------------*/


:root{

    --primary-color-1: #d6892b;
    --primary-color-2: #921f1e;
    --main-bg-color-1: #2b2b33;
    --bg-color-2:#16161a;
    --main-font-color: #b5b8c1;
    --secondary-font-color:#16161a;
    --table-bg: #222227;
    --table-header-bg: #414246;

}


:root{

    --primary-color-1: #d6892b;
    --primary-color-2: #921f1e;
    --main-bg-color-1: #2b2b33;
    --bg-color-2:#16161a;
    --main-font-color: #b5b8c1;
    --secondary-font-color:#16161a;

}





/*--------------------------- MAIN CSS ---------------------------------------------------------*/

body {
    background: var(--main-bg-color-1);
}

.user-controls {
    /* float: right; */
    display: inline-block;
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
    line-height: 0.8em;
    border-radius: 2px;
    color: white;
    vertical-align:middle;
}

.top-stripe-bg {
    background: url("images/bg.jpg");
    background-size:cover;
}

.company-logo img {
    height: 60px;
}


.top-stripe2 {

    padding: 20px 0;


}


@media only screen and (min-width: 578px) {
    .top-stripe-child {
      background-color: transparent !important;
    }
  }

  .user-control-register {
      background-color: var(--primary-color-1);
      border:none;
  }

  .user-control-chat {
      border:none;
  }

  .live-chat {
      color: var(--main-font-color);
      margin-right: 7px;
      font-size: 1.2em;
    
  }

  .user-control-chat {
    text-transform: capitalise;
    font-weight:bold;
    font-size: 1em;
  }

  /*------------------------------------------------ MAIN NAVIGATION ---------------------------------------------------------------*/

  .sports-nav {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+4,000000+48,4c4c4c+99 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 4%, #000000 48%, #4c4c4c 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 4%,#000000 48%,#4c4c4c 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 4%,#000000 48%,#4c4c4c 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */


  }

  .fixture-btn {
    background-color: var(--primary-color-2);
    display: inline;
    float: right;
    padding: 5px;
    line-height: 0.8em;
    margin: 10px 0;
    font-size: 0.7em;
    /* font-weight: bold; */
    border-radius: 2px;
    color: var(--main-font-color);
}

span.badge.badge-light.notif-badge {
   background:green;
   color:white;
    border-radius: 10px;
}

body > div.container-fluid.sports-nav.bg-secondary > div > div.col-lg-8.pl-4 > div > ul > li > a {
    font-size: 0.8em;
    color:var(--main-font-color);
}

.nav-link.active {
   border-bottom: 3px solid;
   border-bottom-color: var(--primary-color-1);
}

.nav-link {
    margin-right: auto;
}

/**----------------------------SIDE BAR MENU -----------------------------------------------------*/

.search-input {
    width: 80%;
}

.search-box {
    background: var(--bg-color-2);
    padding: 5px;
    margin: 5px;
    font-size: 0.8em;
   
}

.sports-sidebar {
    overflow: scroll;
    max-height: 400px;
}


.top-leagues-title {
    background: var(--primary-color-2);
    color: var(--main-font-color);
    font-size: 0.8em;
    padding: 3px;
}

.top-league-links a {
    list-style: none;
    font-size: 0.7em;
    color: var(--main-font-color);
}

ul.top-league-links {
    list-style: none;
    padding-left: 0px;
    background: var(--bg-color-2);
}

.top-league-links li {

}

.top-league-links li {
    border-bottom: 0.2px solid;
    border-bottom-color: #b5b8c1db;
    width: 100%;
    padding-left: 15px;
}

.side-sports-nav li {
    border-bottom: 0.2px solid;
    border-bottom-color: #b5b8c1db;
    width: 100%;
    font-size: 0.85em;
    line-height: 0.6em;
}


.side-sports-nav a {

}


.league-icon {
    color: var(--primary-color-1);
    padding-left: 0pc;
    margin-right: 5px;
}





.league-check {
    line-height: 2em;
    margin-right: 5px;
    margin-left: 5px;
    /* display: none; */
}



.bg-left {
    left: 0px;
    top: 0px;
}

.bg-right {
    right: 0px;
    top: 0px;
}


/*-- test -----*/



.side-sports-nav { display: block }
  

  
 .side-sports-nav ol, .side-sports-nav ul { list-style: none;
    padding-left: 0px;
}
  

  
 

  

  
  /**
   * Hidden fallback
   */
  
  
  /**
   * Styling navigation
   */
  
  header {
    margin-right: auto;
    margin-left: auto;
    max-width: 22.5rem;
    margin-top:150px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
  }
  
  /**
   * Styling top level items
   */
  
  .side-sports-nav a, .side-sports-nav label {
    display: block;
   padding: .85rem;
    color: #fff;
    background-color: #151515;
    box-shadow: inset 0 -1px #1d1d1d;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }
  
  .side-sports-nav a:focus, .side-sports-nav a:hover, .side-sports-nav label:focus, .side-sports-nav label:hover {
    color: rgba(255, 255, 255, 0.5);
    background: #030303;
  }
  
  .side-sports-nav label { cursor: pointer; }
  
  /**
   * Styling first level lists items
   */
  
  .group-list a, .group-list label {
    padding-left: 2rem;
    background: #252525;
    box-shadow: inset 0 -1px #373737;
  }
  
  .group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #131313; }
  
  /**
   * Styling second level list items
   */
  
  .sub-group-list a, .sub-group-list label {
    padding-left: 1rem;
    background: #353535;
    box-shadow: inset 0 -1px #474747;
  }
  
  .sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #232323; }
  
  /**
   * Styling third level list items
   */
  
  .sub-sub-group-list a, .sub-sub-group-list label {
    padding-left: 6rem;
    background: #454545;
    box-shadow: inset 0 -1px #575757;
  }
  
  .sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }
  
  /**
   * Hide nested lists
   */
  
  .group-list, .sub-group-list, .sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
  }
  
  .nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
  max-height: 1000px; }
  
  /**
   * Rotating chevron icon
   */
  
  label > span {
    float: right;
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .65s ease;
  }
  
  .nav__list input[type=checkbox]:checked + label > span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .side-sports-nav label {
      margin-bottom: 0px;
  }

  /*------------------------SCROLL BAR CUSTOMISATION -------------------------------------*/

  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color-1); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-1);  
  }



  /*================================ FRONT PAGE SLIDER ==============================*/

  img.sports-Slide {
    width: 100%;
    margin-top:3px;
}

button.w3-button.w3-display-left {
    position: absolute;
    top: 85px;
    display:none;
}

button.w3-button.w3-display-right {
    position: absolute;
    top: 85px;
    right: 4px;
    display:none;
}

/*======================================== LIVE EVENTS TABLE =================================*/

.card.live-events {
    margin-top: 5px;
    border: none;
    border-radius: 0px;
}

.live-events-header {
    background: var(--bg-color-2);
    color: var(--primary-color-1);
    border: none;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bolder;
    padding-left: 15px;
    border-radius: 0px !important;
}


.card-body.table-body {
    background: var(--table-bg);
    padding: 5px;
}

.table-sport-type {
    background: var(--table-header-bg);
    color: var(--main-font-color);
    padding-left: 10px;
    font-size: 0.8em;
    font-weight: 500;
    
}

table.events-table {
    background: var(--main-font-color);
    font-size: 0.7em;
    width: 100%;
    margin-top: 3px;
}

table.events-table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 0.7em;
    border: 1px solid black;
}

.events-table table, th, td {
    
    border-collapse: unset;
  }



.middle-mkt {
    display: inline-block;
    text-align: center;
    float: none;
    margin: 10PX 0PX;
}
.right-mkt {
    display: inline-block;
    float: right;
}
.left-mkt {
    display: inline-block;
    float: left;
}

.bold-events-titles {
    font-weight: bold;
    text-align: center;
    font-size: 0.86em;
}


.events-date {
    background: var(--table-header-bg);
    color: var(--main-font-color);
    padding-left: 10px;
    font-size: 0.8em;
    font-weight: 500;
}

.table-league-name, .table-teams {
    text-align: left;
}

.table-league-name {
    font-weight: 500;
}

.odds-bg {
    display: block;
    background: gray;
    padding: 2px 2px;
    border: 1px solid;
    border-color: var(--table-header-bg);
}

.odds-bg:hover {
    background:var(--primary-color-1);
    cursor: pointer;


}


.more-odds-icon:hover {
    background:lightgreen;
    cursor: pointer;


}



.more-odds-icon {
    color: green;
    font-size: 1.2em;
}

table.events-table tr:nth-child(even) {background: #838384;}

.events-table tr {
    
        background: #8d8e90;
    
}


/*========== RIGHT SIDE BAR - BET CHECK ==============================*/

.bet-check-header {
    background: var(--bg-color-2);
    color: var(--primary-color-1);
    font-size: 0.8em;
    padding: 3px;
    padding-left: 15px !IMPORTANT;
    border-top: 2px solid;
    border-radius:0px !important;
    margin-top: 3px;
}

.bet-check-body {
    background: var(--table-header-bg);
}

.bet-check{
    background-color:transparent;
    border-radius: 0px !important;
}

.right-inputs {
    background: var(--table-bg);
    border: none;
    font-size: 0.8em;
    padding: 5px;
    padding-left: 15px;
}

button.right-submit {
    font-size: 0.8em;
    background: gray;
    border: none;
    padding: 5px;
    margin-left: -4px;
    font-weight: bold;
}

.bet-inst {
    background: #8d8e90;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 20px;
    /* line-height: 1em; */
}

.betslip-or {
    text-align: center;
    display: inline-block;
    margin: 0px 40%;
    color: var(--primary-color-2);
}


.bet-btn-place {
    background: green;
    color: #ffffff;
    width: 60%;
    display:block;
    margin:auto;
    padding:5px;
    font-size: 0.8em;
    font-weight: 500;
    clear:both;
}

button.bet-btn-clear {
    background: red;
    color: white;
    font-size: 0.8em;
    width: 30%;
    float: left;
    margin-left:15%;
    margin-top: 10px;
    border: 1px solid gray;
}

button.bet-btn-book {
    background: var(--primary-color-1);
    color: white;
    font-size: 0.8em;
    width: 30%;
    float: right;
    margin-right:15%;
    margin-top: 10px;
    border: 1px solid gray;
}

input.stake-input {
    display: inline-block;
    margin: auto;
    margin-bottom: 10px;
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    width: 60%;
}

.stake-amt {
    display: inline-block;
    float: left;
    font-size: 0.6em;
    font-weight: bold;
    line-height: 1.9em;
    vertical-align: bottom;
}

#tandcs {
    display: block;
    width: 100%;
    clear: left;
    color: black;
    font-weight: bold !important;
}

.bet-totals {
    margin-top: 20px;
}

.bet-section {
    max-height: 800px;
    overflow: scroll;
}